@font-face {
    font-family: 'MyFont';
    src: url('HKGrotesk-Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}
body {
    font-family: 'myFont';
    /* Use the 'YourFontName' font or fallback to a generic sans-serif font */
}

.nav-link:hover{
    background-color: #343b47;
    border-radius: 5px;
}
